<!DOCTYPE html>
<html class="addHtml">
	<head>
		<meta charset="UTF-8">
		<title>开户</title>
		<link rel="stylesheet" type="text/css" href="../../static/webframes/bootstrap3/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css"/>
		<script src="../../static/webframes/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../static/webframes/bootstrap3/js/bootstrap.min.js"></script>
		<script src="../../static/javascript/common.js"></script>
		<script src="js/view.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row mt10">
				<form class="col-lg-12 col-md-12 col-sm-12">
					<div class="add-box">
						<div class="add-title pl10 pr10">用户的详细地址</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-6 p0 mt10">
							<label class="text-right fr-inline ipt-label">用水户名称：</label>
							<input id="" name="" value="用水户名称" type="text" class="form-control fr-inline ipt ipt-300 pl10" disabled="disabled">
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-6 p0 mt10">
							<label class="text-right fr-inline ipt-label">手机号：</label>
							<input id="" name="" value="1325454454" type="text" class="form-control fr-inline ipt ipt-300 pl10" disabled="disabled">
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-6 p0">
							<label class="text-right fr-inline ipt-label">证件号：</label>
							<input id="" name="" type="text" value="46788454554878787787" disabled="disabled" class="form-control fr-inline ipt ipt-300 pl10">
						</div>
						<div class="form-group col-lg-12 col-md-12 col-sm-12 p0">
							<label class="text-right fr-inline ipt-label">备注：</label>
							<textarea class="form-control fr-inline ipt pl10 ipt-725" rows="2" disabled="disabled">455454545445</textarea>
						</div>
					</div>
					<div class="add-box mt10">
						<div class="form-group col-lg-6 col-md-6 col-sm-6 p0 mt10">
							<label class="text-right fr-inline ipt-label">用水类型：</label>
							<select name="" class="form-control fr-inline ipt ipt-300 pl10" disabled="disabled">
								<option value="">hhhh</option>
							</select>
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-6 p0 mt10">
							<label class="text-right fr-inline ipt-label">阶梯模式：</label>
							<label class="label-radio"><input type="radio" id="" name="mould" checked="checked" disabled="disabled"/> 月阶梯</label>
							<label class="ml20 label-radio"><input type="radio" id="" name="mould" disabled="disabled" /> 年阶梯</label>
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-6 p0">
							<label class="text-right fr-inline ipt-label">一级报警：</label>
							<input id="" name="" type="text" class="form-control fr-inline ipt ipt-300 pl10" disabled="disabled" value="nbnb">
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-6 p0">
							<label class="text-right fr-inline ipt-label">二级报警：</label>
							<input id="" name="" type="text" class="form-control fr-inline ipt ipt-300 pl10" disabled="disabled" value="747444">
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-6 p0">
							<label class="text-right fr-inline ipt-label"><span class="redstar">*</span> 水卡类型：</label>
							<select name="" class="form-control fr-inline ipt ipt-300 pl10" disabled="disabled">
								<option value="">hhhh</option>
								<option value="">hhhh</option>
								<option value="">hhhh</option>
							</select>
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-6 p0">
							<label class="text-right fr-inline ipt-label"><span class="redstar">*</span> 累计充值金额：</label>
							<input id="" name="" type="text" class="form-control fr-inline ipt ipt-300 pl10" placeholder="" maxlength="35" value="1.0" disabled="disabled">
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-6 p0">
							<label class="text-right fr-inline ipt-label">控制器编码：</label>
							<input id="" name="" type="text" class="form-control fr-inline ipt ipt-300 pl10" value="1.0" disabled="disabled">
						</div>
					</div>
					<div class="add-box mt10">
						<div class="form-group col-lg-12 col-md-12 col-sm-12 p0 mt10">
							<label class="text-right fr-inline ipt-label">操作说明：</label>
							<textarea class="form-control fr-inline ipt pl10 ipt-725" rows="3" disabled="disabled">lskhdgvlkfsdhgkld</textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
