<!DOCTYPE html>
<html class="addHtml">
	<head>
		<meta charset="UTF-8">
		<title>过户</title>
		<link rel="stylesheet" type="text/css" href="../../static/webframes/bootstrap3/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/webframes/font-awesome-4.7/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css"/>
		<script src="../../static/webframes/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../static/webframes/bootstrap3/js/bootstrap.min.js"></script>
		<script src="../../static/javascript/common.js"></script>
		<script src="js/operate.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row mt10">
				<form class="col-lg-12 col-md-12 col-sm-12">
					<div class="add-box">
						<div class="add-title pl10 pr10">原用户信息</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">用水户名称：</label>
								</span>
								<input type="text" id="" name="" value="用水户名称" class="form-control ipt ipt-control ipt-grey pl10" placeholder="" disabled="disabled">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">身份证号码：</label>
								</span>
								<input type="text" id="" name="" value="1325454454" class="form-control ipt ipt-control ipt-grey pl10" placeholder="" disabled="disabled">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">手机号：</label>
								</span>
								<input type="text" id="" name="" value="1325454454" class="form-control ipt ipt-control ipt-grey pl10" placeholder="" disabled="disabled">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">家庭住址：</label>
								</span>
								<input type="text" id="" name="" value="1325454454" class="form-control ipt ipt-control ipt-grey pl10" placeholder="" disabled="disabled">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">水表编号：</label>
								</span>
								<input type="text" id="" name="" value="1325454454" class="form-control ipt ipt-control ipt-grey pl10" placeholder="" disabled="disabled">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">累计购买金额：</label>
								</span>
								<input type="text" id="" name="" value="1325454454" class="form-control ipt ipt-control ipt-grey pl10" placeholder="" disabled="disabled">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0 mb10">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">用水类型：</label>
								</span>
								<input type="text" id="" name="" value="1325454454" class="form-control ipt ipt-control ipt-grey pl10" placeholder="" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="add-box mt10">
						<div class="add-title pl10 pr10">现用户信息</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">用水户名称：</label>
								</span>
								<input type="text" id="" name="" value="" class="form-control ipt ipt-control pl10" placeholder="" >
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">身份证号码：</label>
								</span>
								<input type="text" id="" name="" value="" class="form-control ipt ipt-control pl10" placeholder="">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">手机号：</label>
								</span>
								<input type="text" id="" name="" value="" class="form-control ipt ipt-control pl10" placeholder="">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">家庭住址：</label>
								</span>
								<input type="text" id="" name="" value="" class="form-control ipt ipt-control pl10" placeholder="">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">水表编号：</label>
								</span>
								<input type="text" id="" name="" value="1325454454" class="form-control ipt ipt-control ipt-grey pl10" placeholder="" disabled="disabled">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">累计购买金额：</label>
								</span>
								<input type="text" id="" name="" value="1325454454" class="form-control ipt ipt-control ipt-grey pl10" placeholder="" disabled="disabled">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 mt10 pl0 mb10">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">用水类型：</label>
								</span>
								<input type="text" id="" name="" value="1325454454" class="form-control ipt ipt-control ipt-grey pl10" placeholder="" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="add-box mt10">
						<div class="col-lg-12 col-md-12 col-sm-12 pl0 mb10 mt10">
							<div class="input-group">
								<span class="input-group-addon label-note-addon label-operate-addon">
									<label class="label-operate">操作说明：</label>
								</span>
								<textarea class="form-control ipt ipt-control pl10" rows="3"></textarea>
							</div>
						</div>
					</div>
					<div class="text-center mt40">
						<button class="sale-btn search-btn" id=""><i class="glyphicon glyphicon-credit-card"></i> 读卡</button>
						<button class="sale-btn search-btn ml20" id=""><i class="fa fa-window-restore"></i> 过户</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
