<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>桌面首页</title>
		<link rel="stylesheet" type="text/css" href="../static/webframes/font-awesome-4.7/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="../static/webframes/windows/themes/base/jquery.ui.all.css" />
		<link rel="stylesheet" href="../static/webframes/windows/jquery-smartMenu/css/smartMenu.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<script src="../static/webframes/jquery/jquery-1.6.2.min.js"></script>
		<script src="../static/webframes/windows/myLib.js"></script>
		<script src="../static/webframes/windows/jquery-ui-1.8.16.custom.min.js"></script>
		<script src="../static/webframes/windows/jquery.winResize.js"></script>
		<script src="../static/webframes/windows/jquery-smartMenu/js/mini/jquery-smartMenu-min.js"></script>
		<script src="../static/javascript/index.js"></script>
		<style>
			html {overflow:hidden;}
			body {
				background: url(../static/images/jpg/win_bg.jpg) center center no-repeat;
			}
		</style>
	</head>
	<body>
		<ul id="deskIcon">
			<li class="desktop_icon" id="openAccount" path="openAccount/list.html">
				<span class="icon"><img src="../static/images/icon/icons3.png"/></span>
			    <div class="text">开户</div>
		  	</li>
		  	<li class="desktop_icon" id="addCard">
				<span class="icon"><img src="../static/images/icon/icons5.png"/></span>
			    <div class="text">补卡</div>
		  	</li>
		  	<li class="desktop_icon" id="" path="">
				<span class="icon"><img src="../static/images/icon/icons6.png"/></span>
			    <div class="text">换表</div>
		  	</li>
		  	<li class="desktop_icon" id="" path="">
				<span class="icon"><img src="../static/images/icon/icons7.png"/></span>
			    <div class="text">充值</div>
		  	</li>
		  	<li class="desktop_icon" id="transfer" path="transfer/list.html">
				<span class="icon"><img src="../static/images/icon/icons8.png"/></span>
			    <div class="text">过户</div>
		  	</li>
		  	<li class="desktop_icon" id="" path="">
				<span class="icon"><img src="../static/images/icon/icons1.png"/></span>
			    <div class="text">充值查询</div>
		  	</li>
		  	<li class="desktop_icon" id="" path="">
				<span class="icon"><img src="../static/images/icon/icons2.png"/></span>
			    <div class="text">开户统计</div>
		  	</li>
		  	<li class="desktop_icon" id="" path="">
				<span class="icon"><img src="../static/images/icon/icons4.png"/></span>
			    <div class="text">充值统计</div>
		  	</li>
		</ul>
		<div id="taskBar">
		  <div id="leftBtn"><a href="#" class="upBtn"></a></div>
		  <div id="rightBtn"><a href="#" class="downBtn"></a> </div>
		  <div id="task_lb_wrap">
		    <div id="task_lb"></div>
		  </div>
		</div>
		<div id="lr_bar">
			<ul id="default_app">
			    <li>
			    	<i class="fa fa-bank" path=""></i>
			    </li>
			    <li>
			    	<i class="fa fa-bank" path=""></i>
			    </li>
			    <li>
			    	<i class="fa fa-bank" path=""></i>
			    </li>
			    <li>
			    	<i class="fa fa-bank" path=""></i>
			    </li>
			    <li>
			    	<i class="fa fa-bank" path=""></i>
			    </li>
			    <li>
			    	<i class="fa fa-bank" path=""></i>
			    </li>
			</ul>
		    <div id="start_block"> 
		    	<a title="开始" id="start_btn"><i class="fa fa-bullseye"></i></a>
		        <div id="start_item">
			      	<ul class="item">
			        	<li><i class="fa fa-address-book-o"></i><span class="ml10">系统设置</span></li>
			        	<li><i class="fa fa-address-book-o"></i><span class="ml10">系统设置</span></li>
			        	<li><i class="fa fa-address-book-o"></i><span class="ml10">系统设置</span></li>
			        	<li><i class="fa fa-address-book-o"></i><span class="ml10">系统设置</span></li>
			      	</ul>
		    	</div>
			</div>
		</div>
	</body>
</html>
